{% extends 'base/base.html' %}
{% load static %}

{% block content %}

    <div class="container">

        <div class="text-center">
            <h4 class="form-alone-heading text-center">Coach Login</h4>
        </div>

        <div class="alone-message">
        </div>

        <form class="form-alone" action='{% url "cd:coachlogin" %}' method='post' novalidate>
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>

        <div class="text-center">
            <a class="text-center small" href="{% url "cd:coachsignup" %}">
                Coach sign up
            </a>
        </div>
    </div>

{% endblock content %}